.Error{
    width: 100%;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 20px;
}
.Error h1{
    font-size: 2rem;
    color: #F9ED32;
}
.Error p{
    font-size: 1rem;
    color: #252525;
}
.Error button{
    width: 145px;
    height: auto;
    padding: 7px 7px;
    background-color: #F9ED32;
    border: solid transparent;
}